<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <button class="btn btn-outline-dark d-flex ms-auto p-1 mt-3" (click)="logout()">Logout</button>
    <div class="container my-5">
      <form [formGroup]="subjectForm" (ngSubmit)="sendSubjectDetails()" class="card shadow">
        <h4 class="bg-info text-light text-center card-header">Welcome to College Gate</h4>
        <div class="row jumbotron card-body m-3">
          <div class="col-sm-6 form-group">
            <label for="marks">Marks %</label>
            <input formControlName="marks" type="number" class="form-control" name="marks" id="marks" placeholder="overall marks %" required>
          </div>

          <div class="col-sm-6 form-group">
            <label for="subject">Specialization</label>
<!--            <input formControlName="subject" type="text" name="subject" class="form-control" id="subject" placeholder="Enter your password" required>-->
            <select formControlName="subject" type="text" name="subject" class="form-control" id="subject" required>
              <option value="b">Bengali</option>
              <option value="a">English</option>
              <option value="c">Economics</option>
              <option value="c">Education</option>
              <option value="a">Geography</option>
              <option value="b">History</option>
              <option value="b">Journalism</option>
              <option value="c">Philosophy</option>
              <option value="b">Political Science</option>
              <option value="c">Psychology</option>
              <option value="b">Sanskrit</option>
              <option value="c">Sociology</option>
              <option value="b">Botany</option>
              <option value="a">Chemistry</option>
              <option value="a">Computer Science</option>
              <option value="b">Microbiology</option>
              <option value="a">Mathematics</option>
              <option value="a">Physics</option>
              <option value="c">Physiology</option>
              <option value="c">Psychology</option>
              <option value="b">Statistics</option>
              <option value="b">Zoology</option>
              <option value="b">Accounting & Finance</option>
            </select>
          </div>

          <div class="col-sm-12 form-group my-3 text-center">
            <button class="btn btn-info text-light float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-colleges [colleges]="colleges"></app-colleges>

